@font-face {
  src: url("../fonts/Brusher.ttf");
  font-family: 'brusher';
}

@font-face {
  src: url("../fonts/edosz.ttf");
  font-family: 'edosz';
}

@font-face {
  src: url("../fonts/Brushcrazy DEMO.otf");
  font-family: 'brushify';
}

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84%;
  margin: 0 auto;
}

header {
  position: sticky;
  z-index: 2;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background-color: #363636;
  padding: 1.9% 0;
}

header .wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

header .navbar a {
  color: rgba(225, 225, 225, 0.9);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 5px;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

header .navbar a:hover {
  background-color: #69AD31;
  color: #FFF;
}

header .navbar li {
  padding: 0 13.5px;
  margin-top: 3px;
}

header .navbar li:last-child {
  padding-right: 0;
}

header .hamburger {
  width: 40px;
  padding: 8px;
  margin: 15px 0;
  display: none;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

header .hamburger span {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  display: block;
  background-color: #FFF;
  text-indent: -9999px;
  transition-duration: 0.3s;
}

header .hamburger span:last-child {
  margin: 0;
}

header .hamburger.active-hamburger {
  background-color: #69AD31;
}

header .hamburger.active-hamburger span:first-child {
  transform: translateY(8px) rotate(135deg);
  background-color: #000;
}

header .hamburger.active-hamburger span:last-child {
  transform: translateY(-8px) rotate(-135deg);
  background-color: #000;
}

header .hamburger.active-hamburger span:nth-child(2) {
  transform: scale(0);
  background-color: #000;
}

@media screen and (max-width: 995px) {
  header .navbar a {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  header {
    position: relative;
  }
  header .navbar {
    width: 100%;
    height: 100vh;
    padding: 10% 0;
    background-color: #69AD31;
    position: absolute;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    clip-path: circle(0 at 100% 0);
    transition: 0.6s ease-in-out;
  }
  header .navbar.active-navbar {
    clip-path: circle(250% at 100% 0);
  }
  header .navbar li {
    display: block;
    text-align: center;
  }
  header .hamburger {
    display: block;
  }
}

.banner {
  background: url("https://via.placeholder.com/1350x1000") 50% 50% no-repeat;
  background-size: cover;
}

.banner .banner-content {
  width: 67%;
  padding: 28% 0 17.4%;
  margin: 0 auto;
  text-align: center;
}

.banner .banner-content h2 {
  padding-bottom: 2.8%;
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  word-spacing: -5px;
  text-align: center;
}

.banner .banner-content p {
  width: 80%;
  padding-bottom: 6.9%;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  word-spacing: -3px;
  letter-spacing: 0px;
}

.banner .banner-content .more-info {
  padding: 2% 2.5%;
  box-sizing: border-box;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background-color: #69AD31;
  border-radius: 5px;
  color: #FFF;
  font-size: 17px;
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.banner .banner-content .more-info:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 995px) {
  .banner .banner-content {
    width: 100%;
    padding: 17% 0 13%;
  }
  .banner .banner-content h2 {
    font-size: 40px;
  }
  .banner .banner-content p {
    font-size: 17px;
  }
  .banner .banner-content .more-info {
    padding: 2%;
    font-size: 15px;
  }
}

@media screen and (max-width: 540px) {
  .banner .banner-content {
    padding: 20% 0 15%;
  }
  .banner .banner-content h2 {
    font-size: 30px;
    word-spacing: 3px;
  }
  .banner .banner-content p {
    font-size: 17px;
  }
  .banner .banner-content .more-info {
    padding: 2%;
    font-size: 15px;
  }
}

.welcome {
  padding: 8.9% 0;
  background-color: #F6F6F6;
}

.welcome .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.welcome .welcome-content {
  width: 47%;
}

.welcome .welcome-content h3 {
  padding-top: 0.3%;
  padding-bottom: 11.6%;
  position: relative;
}

.welcome .welcome-content h3::before {
  content: ' ';
  width: 13%;
  height: 3px;
  background-color: #69AD31;
  position: absolute;
  z-index: 0;
  top: auto;
  right: auto;
  bottom: 40%;
  left: 0;
}

.welcome .welcome-content p {
  padding-bottom: 3.7%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: justify;
}

.welcome .welcome-content .view-services {
  padding: 3% 3.5%;
  margin-top: 5.5%;
  box-sizing: border-box;
  background-color: #69AD31;
  border-radius: 5px;
  color: #FFF;
  font-size: 17px;
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.welcome .welcome-content .view-services:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.service {
  width: 48.6%;
}

.service ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.service ul li {
  width: 47.5%;
}

.service ul h4 {
  padding: 8.3% 0 7%;
  color: #363636;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.service ul p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.5px;
}

h3 {
  padding: 0% 0;
  color: #363636;
  font-size: 33px;
  font-weight: 600;
  word-spacing: -2px;
}

h3 span {
  color: #69AD31;
}

@media screen and (max-width: 995px) {
  .welcome .welcome-content {
    width: 100%;
    padding-bottom: 5%;
  }
  .service {
    width: 100%;
  }
}

@media screen and (max-width: 995px) {
  .welcome .welcome-content {
    width: 100%;
    padding-bottom: 5%;
  }
  .service ul li {
    width: 100%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 995px) {
  h3 {
    font-size: 20px;
  }
  .welcome .welcome-content .view-services {
    font-size: 12px;
  }
}

.services {
  padding: 9% 0 11.8%;
  background-color: #69AD31;
}

.services h3 {
  color: #FFF;
  text-transform: capitalize;
  text-align: center;
}

.services h3 + span {
  padding: 4% 0;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 500;
  word-spacing: 1px;
}

.services ul {
  padding: 4% 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.services li {
  width: 23%;
}

.services li figure {
  width: 85%;
  margin: 0 7.5%;
}

.services li figure img {
  box-sizing: border-box;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.services h4 {
  padding: 11.2% 0 5%;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

.services h4 + p {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  word-spacing: 1px;
  line-height: 21px;
}

@media screen and (max-width: 995px) {
  .services li {
    width: 48%;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 540px) {
  .services li {
    width: 100%;
    padding-bottom: 5%;
  }
}

.gallery {
  padding: 7.5% 0 3.5%;
}

.gallery h3 {
  text-align: center;
  text-transform: capitalize;
}

.gallery h3 + span {
  padding: 3.8% 0;
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
}

.gallery .tab-controls {
  padding: 1.7% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gallery .tab-controls li {
  padding: 0 12px;
}

.gallery .tab-controls li:hover a,
.gallery .tab-controls li.active a {
  background-color: #69AD31;
  color: #FFF;
}

.gallery .tab-controls a {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.gallery .tab-content {
  padding: 3.5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.gallery .tab-content li {
  width: 31.6%;
  padding-bottom: 2.7%;
}

@media screen and (max-width: 767px) {
  .gallery .tab-controls a {
    font-size: 10px;
  }
}

@media screen and (max-width: 540px) {
  .gallery .tab-controls li {
    padding: 0 4px;
  }
  .gallery .tab-controls a {
    padding: 5px 8px;
  }
  .gallery .tab-content li {
    width: 100%;
  }
}

.testimonials {
  padding: 9% 0 9.7%;
  background: linear-gradient(rgba(105, 173, 49, 0.9), rgba(105, 173, 49, 0.9)), url("https://via.placeholder.com/1350x1000") 50% 50% no-repeat;
  background-size: cover;
}

.testimonials h3 {
  color: #FFF;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 8.2%;
}

.testimonials .slider-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.testimonials .slider-content li {
  min-width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}

.testimonials .slider-content li p {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  padding-bottom: 1%;
}

.testimonials .slider-content li span {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
}

.testimonials .slider-controls {
  padding: 2% 0 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.testimonials .slider-controls .dot {
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin: 0 7px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.testimonials .slider-controls .dot:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.testimonials .slider-controls .dot.active {
  background-color: #FFF;
}

@media screen and (max-width: 767px) {
  .testimonials .slider-content li {
    padding: 0;
  }
}

.contact-us {
  padding: 7.5% 0 7.4%;
  background-color: #F6F6F6;
}

.contact-us h3 {
  text-transform: capitalize;
  text-align: center;
}

.contact-us h3 + span {
  padding: 3.8% 0;
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
}

.contact-us ul {
  padding: 4.1% 0 7%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-us ul li {
  padding: 0 5%;
}

.contact-us h4 {
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  text-align: center;
}

.contact-us h4 + span,
.contact-us h4 + span + span {
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.5px;
  padding-bottom: 8px;
}

.contact-us form {
  width: 64.5%;
  padding: 0.9% 0 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.contact-us form .form-group {
  width: 48%;
  padding-bottom: 2%;
}

.contact-us form .form-group:nth-child(3) {
  width: 100%;
}

.contact-us form input {
  width: 100%;
  padding: 3% 6%;
  font-size: 16px;
  border-style: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.contact-us form textarea {
  width: 100%;
  height: 130px;
  padding: 1% 2%;
  font-size: 16px;
  border-style: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.contact-us form .form-controls {
  width: 100%;
  text-align: center;
}

.contact-us form button {
  padding: 17px 30px;
  margin-top: 16px;
  box-sizing: border-box;
  background-color: #69AD31;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  border-style: none;
  transition: 0.3s ease-in-out;
}

.contact-us form button:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 995px) {
  .contact-us ul li {
    width: 100%;
    padding: 0 0 10%;
  }
  .contact-us form {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .contact-us form .form-group {
    width: 100%;
  }
}

footer {
  padding: 3% 0 2.5%;
  background-color: #363636;
}

footer .facebook,
footer .twitter,
footer .google-plus {
  text-indent: -9999px;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0 22px;
  transition: 0.3s ease-in-out;
}

footer .facebook:hover,
footer .twitter:hover,
footer .google-plus:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer .facebook::before {
  content: "\f09a";
}

footer .google-plus::before {
  content: "\f0d5";
}

footer .twitter::before {
  content: "\f099";
}

footer .facebook::before,
footer .google-plus::before,
footer .twitter::before {
  padding: 2px;
  font-family: "fontAwesome";
  text-indent: 0;
  font-size: 22px;
  font-weight: 200;
  color: #69AD31;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

footer .social-icon {
  padding-bottom: 4.5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer span {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  font-size: 13.5px;
  font-weight: 300;
}

footer span span {
  display: inline;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 540px) {
  footer {
    padding: 15%;
  }
  footer .social-icon {
    flex-direction: column;
  }
  footer .social-icon li {
    padding-bottom: 10%;
  }
}
