.banner {
	background: url('https://via.placeholder.com/1350x1000') 50% 50% no-repeat;
	background-size: cover; 

	.banner-content {
		width: 67%;
		padding: 28% 0 17.4%;
		margin: 0 auto;
		text-align: center;
			
		h2 {
			padding-bottom: 2.8%;
			@include textcharacteristics(#FFF,60px,700,uppercase);
			letter-spacing: -2px;
			word-spacing: -5px;
			text-align: center;
		}

		p {
			width: 80%;
			padding-bottom: 6.9%;
			margin: 0 auto;
			text-align: center;
			@include textcharacteristics(#FFF,21px,400,null,26px);
			word-spacing: -3px;
			letter-spacing: 0px;
		}

		.more-info {
			padding: 2% 2.5%;
			@include boxsizing();
			border-top: 1px solid #FFF;
			border-bottom: 1px solid #FFF;
			background-color: $primarycolor;
			border-radius: 5px;
			@include textcharacteristics(#FFF,17px,200,uppercase);
		}
	}
}