.welcome {
	padding: 8.9% 0;
	background-color: #F6F6F6;

	.wrapper {
		@include flex(wrap,row,space-between);
	}

	.welcome-content {
		width: 47%;

		h3 {
			padding-top: 0.3%;
			padding-bottom: 11.6%;
			position: relative;

			&::before {
				content: ' ';
				width: 13%;
				height: 3px;
				background-color: $primarycolor;
				@include position(absolute,0,auto,auto,40%,0);

			}
		}

		p {
			padding-bottom: 3.7%;
			@include textcharacteristics(rgba(0,0,0,0.4),14px,700,null,24px);
			letter-spacing: -0.5px;
			text-align: justify;
		}

		.view-services {
			padding: 3% 3.5%;
			margin-top: 5.5%;
			@include boxsizing();
			background-color: $primarycolor;
			border-radius: 5px;
			@include textcharacteristics(#FFF,17px,200,uppercase);
			@include transition(0.3s);

			&:hover {
				box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
			}
		}
	}
}

.service {
	width: 48.6%;

	ul {
		@include flex(wrap,row,space-between);

		li { width: 47.5%; }

		h4 {
			padding: 8.3% 0 7%;
			@include textcharacteristics($secondarycolor,20px,700,capitalize);
		}

		p {
			@include textcharacteristics(rgba(0,0,0,0.4),14px,700,null,24px);
			letter-spacing: -0.5px;
		}
	}
}

h3 {
	padding: 0% 0;
	@include textcharacteristics($secondarycolor,33px,600,null);
	word-spacing: -2px;

	span { color: $primarycolor; }
}

@include breakpoint('ipad') {
	.welcome {

		.welcome-content {
			width: 100%;
			padding-bottom: 5%;
		}
	}

	.service {
		width: 100%;
	}
}

@include breakpoint('ipad') {
	.welcome {

		.welcome-content {
			width: 100%;
			padding-bottom: 5%;
		}
	}

	.service {

		ul {

			li {
				width: 100%;
				padding-bottom: 10%;
			}
		}
	}
}


@include breakpoint('ipad') {
	h3 {
		font-size: 20px;
	}

	.welcome {

		.welcome-content {

			.view-services {
				font-size: 12px;
			}
		}
	}
}